.navbar{
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;

}

.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border: 1px solid tomato;
    padding:10px 30px ;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    transition: border-bottom 0.3s ease-in-out;
}
.navbar li{
    cursor: pointer;
}

.navbar-search_icon{
    position: relative;
}

.navbar-search_icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

/* Initially hide the textarea */
#searcn-bar {
    display: none;
    width: 150px;  /* Medium size width */
    height: 40px;  /* Medium size height */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: -20px;
    
}

/* Show textarea when the 'show' class is applied */
.show {
    display: block !important;
}

/* Optional: Add a hover effect */
#searcn-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Styling for the search icon */
.search-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 14px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style:none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown  img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}

    



@media(max-width:1050px){
    .navbar .log{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media(max-width:900px){
    .navbar .log{
        width: 120px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }

}

 @media(max-width:750px){
       
        .navbar-menu{
           display: none;
        }
        
}
